* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --white-color: #fff;
  --black-color: #000;
}

.dark {
  --background-color-1: #102a43;
  --background-color-2: #243b53;
  --background-color-3: #334e68;
  --text-color-1: #d9e2e6;
  --title-color: #f0f4f8;
  --primary-color: #ff2281;
  --secondary-color: #b76cfd;
}

.light {
  --background-color-1: #e0e0e0;
  --background-color-2: #eeeeee;
  --background-color-3: #fafafa;
  --text-color-1: #424242;
  --title-color: #000;
  --primary-color: #fea47f;
  --secondary-color: #25ccf7;
}

body {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  background-color: var(--background-color-1);
  background-attachment: fixed;
  transition: background-color 0.3s ease;
}

.header {
  position: relative;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--title-color);
}

.header__img {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__img i {
  font-size: 3.5rem;
}

.header__title {
  font-size: 4rem;
  font-weight: 300;
}

.main {
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.taskform {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  width: 60rem;
}

.form-group {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.taskform__input {
  font-size: 2rem;
  outline: none;
  border: none;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  background-color: var(--white-color);
  height: 4rem;
}

.todolist {
  max-width: 100%;
  width: 60rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.todolist__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  background-color: var(--background-color-3);
  color: var(--text-color-1);
  margin-bottom: 0.1rem;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}

.todolist__checkbox {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: 1.5rem;
  height: 18px;
  width: 18px;
  border: 1.5px solid var(--text-color-1);
  border-radius: 3px;
  flex: 0 0 auto;
}

.todolist__item.checked {
  background-color: var(--background-color-2);
}

.todolist__item.checked .todolist__checkbox {
  background-color: var(--primary-color);
  border-color: transparent;
}

.todolist__item.checked .todolist__checkbox::before {
  content: "\2713";
  position: absolute;
  bottom: -2px;
  left: 0px;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
}

.todolist__item.checked .todolist__text {
  text-decoration: line-through;
}

.todolist__item-delete {
  animation-name: item-delete-animation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes item-delete-animation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(400px);
  }
}

.todolist__text {
  font-size: 2rem;
  padding: 1.5rem;
  margin-right: auto;
}

.btn {
  padding: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
}

.btn-clear-all,
.btn-clear-completed {
  color: var(--white-color);
  height: 4rem;
  padding: 0 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-clear-all,
.btn-clear-completed {
  background-color: var(--primary-color);
}

.btn-task {
  background-color: transparent;
  align-self: stretch;
  color: inherit;
  border-radius: initial;
  font-size: 1.8rem;
}

.btn-task:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-add {
  background-color: var(--secondary-color);
  color: var(--white-color);
  height: 4rem;
  width: 4rem;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: initial;
  box-shadow: initial;
  font-size: 1.4rem;
}

.toggle-container {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: var(--white-color);
  cursor: pointer;
}

.toggle-container.enable .toggle {
  transform: translateX(100%);
}

.toggle {
  background-color: var(--primary-color);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

@media only screen and (max-width: 37.5em) {
  .form-group {
    flex: 1 1 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .btn-add {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .taskform__input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@media only screen and (max-width: 28.125em) {
  .toggle-container {
    transform: rotate(90deg);
    right: 0.2rem;
  }

  .header__img {
    margin-right: 0;
  }
}
